body {
    background-color: white;
    padding-top: 20px;
    font-family: Courier, monospace;
    color: white;
    background: url('../images/bgimage.png') no-repeat;
    background-size: cover;
}

button {
    border: none;
    color: white;
    background-color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Courier, monospace;
    margin: 4px 2px;
    cursor: pointer;
}


.container { 
    text-align: center;
    
}
h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
    background-color: black;
}
#title-image, #gameover-image, #youwin-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}
.gameplay-column {
    padding-top: 20px;
    border: 3px dashed black;
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, .3);
}